# Dependencies
/node_modules
/.pnp
.pnp.*

# Tests and coverage
/coverage

# Next.js
/.next
/out

# Production output
/build
/dist

# Local tooling
.DS_Store
*.pem
*.log

# Environment files
.env*
!.env.example

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Prisma local databases
*.db
*.db-journal